
body {
    margin: 0;
}

.page {
    margin: 4em auto;
    width: 800px;
    font-size: 22px;
    line-height: 1.5;
    font-family: Georgia, serif;
}

#logo {
  text-align: center;
  margin-top: 4em;
}